
#header {
        #header__brand {
            color: white;
            font-size: 50px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            #brand4 {
                color: red;
            }
        }
        #header__link {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: white;
            transition: 0.5;
            &:hover {
                color: #e15b5b;
            }
        }
        .navbar-toggler {
            color: #e15b5b;
            background-color: #6c757d;
        }
    }

